[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scatterbar"]
	path = scatterbar
	url = https://github.com/jefworks-lab/scatterbar
